<div class="container">
<h2>My Heroes</h2>
<div>
  <label>Hero id:</label> <input #heroId />
  <label>Hero name:</label> <input #heroName />
  <button (click)="add(heroId.value,heroName.value); heroName.value=''">
    Add
  </button>
</div>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let hero of heroes" (click)="onSelect(hero)"
      [class.list-group-item-action]="hero !== selectedHero" [class.active]="hero === selectedHero">
    <span class="tag tag-default">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="float-xs-right"
      (click)="delete(hero); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
</div>